html {
    background-color:#2F4F4F;
    padding-top:20px;
    font-family:Tahoma, Geneva, sans-serif;
}

body {
    width:90%;
    max-width:1500px;
    background-color:#778899;
    margin:auto;
}

#header {
    text-align: center;
    padding-top:1px;
    border:2px solid #191919;
}

#header h1 {
    font-family:Impact, Charcoal, sans-serif;
}

img {
    display:block;
    width:100%;
    object-fit:cover;
    height: 200px;
}

nav {
    background-color:#C0C0C0;
    padding:10px;
}

nav a {
    padding:10px;
    text-decoration:none;
    color:#000000;
}

nav a:hover {
    background-color:#696969;
}

#content {
    padding:10px;
    border:2px solid #191919;
}

form {
    width:50%;
}

form input[type=text] {
    padding:5px;
    width:40%;
    margin:auto;
    border:2px solid #D0D0D0;
    outline:none;
    -webkit-transition:0.3s;
}

form input[type=text]:focus {
    border:2px solid #585858;
}

form select {
    padding:5px;
    outline:none;
    border:2px solid #D0D0D0;
    -webkit-transition:0.3s;
}

form select:focus {
    border:2px solid #585858;
}

form textarea {
    padding:5px;
    border:2px solid #D0D0D0;
    outline:none;
    -webkit-transition:0.3s;
}

form textarea:focus {
    border:2px solid #585858;
}

form input[type=checkbox]{
    width:20px;
    height:20px;
}

form input[type=radio]{
    width:20px;
    height:20px;
}

form input[type=button]{
    padding:10px;
    margin-top:5px;
    background-color:#ffffff;
    outline:none;
    border-radius:20px;
}

#footer {
    text-align: center;
    font-style: italic;
    padding-bottom: 1px;
    font-family: "Courier New", Courier, monospace;
    font-size:12px;
}